:root {
	--text: #2b1a12;
	--text2: #493e2b;
	--text3: #ebddc2;
	--text4: #6d5e44;
	--bgDark: #73523c;
	--bgLight: #f8f4e6;
	--solid: #ede2c2;
	--accent: #c07607;
	--accent2: #ba875f;
	--accent3: #988a7f;

	--sans: system-ui, "Segoe UI", Roboto, sans-serif;
	--heading: system-ui, "Segoe UI", Roboto, sans-serif;
	--mono: ui-monospace, Consolas, monospace;

	word-wrap: break-word;
	overflow-wrap: break-word;
	font: 18px/145% var(--sans);
	letter-spacing: 0.18px;
	color-scheme: light dark;
	color: var(--text);
	background: var(--bgDark);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media (max-width: 1024px) {
		font-size: 16px;
	}
}

* {
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app-container {
	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

a {
	color: var(--accent);
}

h1 {
	color: var(--text3);
	font-size: 3rem;
	font-family: "Bungee", sans-serif;
	line-height: 1.2;
	margin-bottom: 1.5rem;
	text-align: left;
	text-transform: uppercase;
}

main h2 {
	color: var(--text3);
	font-size: 2rem;
	font-family: "Bungee", sans-serif;
	line-height: 1.2;
	margin-top: 3rem;
	text-align: left;
	text-transform: uppercase;
}

body {
	padding: 0 2rem;
}

.svg {
	filter: invert(0.5) sepia(1);
	fill: var(--text3);
	height: 20px;
	width: 20px;
}

button {
	color: var(--bgLight);
	background-color: var(--accent3);
	padding: 0.5rem;
	flex: 1;
	border-radius: 0.5rem;
	border: none;
	letter-spacing: 1px;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	transition: all 0.2s ease;
	object-fit: contain;
	cursor: pointer;
}

button:hover {
	filter: brightness(105%);
	transform: translateY(-2px);
}

button:active {
	filter: brightness(95%);
	transform: translateY(2px);
}

button img {
	height: 20px;
	width: 20px;
}

button a {
	color: inherit;
}

label {
	margin-bottom: 0.2rem;
}

input,
textarea,
select {
	width: 100%;
	font-size: inherit;
	font-family: inherit;
	font-size: 1rem;
	margin-bottom: 0.6rem;
	padding: 0.5rem 1rem 0.5rem;
	border-radius: 0.5rem;
	border: #cdbca0 solid 1px;
	background-color: var(--bgLight);
	color: var(--text);
}

input:focus,
textarea:focus,
select:focus {
	outline: var(--accent) solid 2px;
}

textarea {
	flex: 1;
	resize: none;
}

/* -------------------------------------------------------------------------- */
/* login and register page */

.auth-page {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.auth-panel {
	min-width: 400px;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--solid);
	border-radius: 1rem;
	padding: 3rem;
	box-shadow: 5px 5px 5px rgba(42, 41, 41, 0.2);
	border-bottom: 0.3rem solid rgb(183, 158, 126);
}

.auth-page form {
	display: flex;
	flex-direction: column;
}

.auth-page h1 {
	font-size: 2rem;
	text-align: center;
	color: var(--text);
}

.auth-link {
	text-align: center;
	font-size: 0.8rem;
	color: var(--text2);
}
.auth-link a {
	text-decoration: underline;
}

.auth-page form input:last-of-type {
	margin-bottom: 1.5rem;
}

.auth-page form button {
	margin: 0.8rem 0;
}

#error-message {
	text-align: center;
}

/* -------------------------------------------------------------------------- */
/* nav bar */

header {
	width: 100%;
	display: flex;
	justify-content: center;
	/* background-color: var(--accent2); */
	/* margin-bottom: 2rem; */
}

nav {
	flex: 1;
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 3rem auto;
}

nav ul li {
	transition: all 0.2s ease;
}

nav ul li:hover {
	transform: translateX(6px);
}

nav ul li a {
	color: var(--text3);
}

#user-section {
	color: var(--text3);
	display: flex;
	gap: 0.8rem;
	justify-content: center;
	align-items: center;
}

#profileImage {
	outline: 0.16rem solid var(--text3);
	height: 60px;
	width: 60px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
	transition: transform 0.2s ease;
}

#profileImage:hover {
	transform: rotate(6deg);
}

/* -------------------------------------------------------------------------- */
/* projects and tasks */

.create-form {
	min-height: 300px;
	display: flex;
	flex-direction: column;
	border-radius: 1rem;
	background-color: var(--solid);
	padding: 2rem;
}

.create-form h3 {
	color: var(--text);
	margin-bottom: 1rem;
}

.grid {
	display: grid;
	gap: 1rem;
	margin-top: 1rem;
}

#project-grid {
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

#task-grid {
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card {
	min-height: 300px;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: var(--solid);
	border-radius: 1rem;
	box-sizing: border-box;
	transition: all 0.2s ease;
	overflow: hidden;
	box-shadow: 5px 5px 5px rgba(42, 41, 41, 0.2);
	border-bottom: 0.3rem solid rgb(183, 158, 126);
}

.card:hover,
.toggleFormBtn:hover {
	transform: translateY(-3px) translateX(1px) rotate(0.4deg);
}

.card #project-image {
	width: 100%;
	min-height: 450px;
	max-height: 800px;
	display: block;
	object-fit: cover;
}

.card #project-info,
.card #task-info {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2rem;
	gap: 1.5rem;
}

#project-card {
	flex-direction: row;
}

.button-actions {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.create-form .button-actions,
.edit-form .button-actions {
	margin-top: 1rem;
}

form .button-actions {
	padding: 0;
}

.viewBtn,
.auth-page button,
.editSaveBtn,
.addNewBtn {
	background: #73763d;
}

.toggleFormBtn {
	color: var(--text3);
	background-color: transparent;
	border: dashed var(--accent2) 0.2rem;
	font-size: 1.4rem;
	border-radius: 1rem;
	min-height: 300px;
	display: flex;
	margin: 0;
}

.toggleFormBtn img,
.toggleFormBtn span {
	/* width: 40px;
	height: 40px; */
	transition: all 0.4s ease;
}

.toggleFormBtn:hover img,
.toggleFormBtn:hover span {
	transform: rotate(90deg);
}

.toggleFormBtn,
#backBtn,
#backToTopBtn {
	padding: 0.5rem 1rem;
	margin: 0;
}

.editBtn {
	background: #c98820;
}

.deleteBtn {
	background: #a45429;
}

footer {
	margin: 3rem 0 6rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

#backBtn,
#backToTopBtn {
	background-color: var(--accent2);
	display: inline-flex;
	width: max-content;
	flex: 0 1 auto;
	box-shadow: 4px 4px 4px rgba(42, 41, 41, 0.2);
}

#backToTopBtn {
	margin-left: auto;
}

.date {
	color: var(--text4);
	font-size: 0.9rem;
}

.description {
	margin-top: 0.5rem;
	max-height: 6rem;
	overflow-y: auto;
}

.edit-form {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 2rem;
}

#edit-form-input {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
}

.empty-message {
	color: var(--text3);
}

.task.to-do {
	background-color: var(--solid);
}

.task.in-progress select {
	color: var(--accent2);
}

.task.done {
	background-color: var(--solid);
	filter: brightness(90%);
}

.task.done h3,
.task.done .description {
	text-decoration: line-through;
}

.reveal-animation {
	opacity: 0;
	transform: translateY(-10px);
	animation: fadeSlideIn 0.25s ease forwards;
}

@keyframes fadeSlideIn {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* .reveal-animation.hidden {
	animation: fadeSlideOut 0.25s ease forwards;
}

@keyframes fadeSlideOut {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(-10px);
	}
} */

/* -------------------------------------------------------------------------- */
/* loader */

.spinner {
	text-align: center;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--text3);
}

.loader {
	border: 10px solid var(--text3);
	border-top: 10px solid #ff7043;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin: 0 auto 10px auto;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (max-width: 800px) {
	.card {
		flex-wrap: wrap;
	}

	.card #project-info,
	.card #task-info {
		width: 100%;
	}
}
