:root {
	--text: #eceae4;
	--text2: #d1cfc9;
	--bg: #111;
	--accent: #ea9b26;

	--sans: system-ui, "Segoe UI", Roboto, sans-serif;
	--heading: system-ui, "Segoe UI", Roboto, sans-serif;
	--mono: ui-monospace, Consolas, monospace;

	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;

	font: 18px/145% var(--sans);
	letter-spacing: 0.18px;
	color-scheme: light dark;
	color: var(--text);
	background: var(--bg);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media (max-width: 1024px) {
		font-size: 16px;
	}
}

* {
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: var(--accent);
}

h1 {
	font-family: "Bungee", sans-serif;
	margin-bottom: 1.5rem;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	margin-bottom: 1rem;
}

body {
	margin: 0;
	padding: 2rem;
	border: none;
}

button {
	background-color: #444;
	padding: 0.5rem;
	flex: 1;
	border-radius: 0.5rem;
	border: none;
	letter-spacing: 1px;
	font-size: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

button:hover {
	filter: brightness(110%);
}

button:active {
	filter: brightness(90%);
	transform: translateY(2px);
}

button img {
	height: 20px;
	width: 20px;
}

button a {
	color: inherit;
}

/* -------------------------------------------------------------------------- */
/* login and register page */

.auth-page {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.auth-panel {
	min-width: 400px;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #222;
	border-radius: 1rem;
	padding: 3rem;
}

.auth-page form {
	display: flex;
	flex-direction: column;
}

.auth-link {
	text-align: center;
	font-size: 0.8rem;
	color: var(--text2);
}
.auth-link a {
	text-decoration: underline;
}

label {
	margin-bottom: 0.2rem;
}

input,
textarea,
select {
	font-size: inherit;
	font-family: inherit;
	font-size: 1rem;
	margin-bottom: 0.6rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: none;
	background-color: var(--text);
	color: black;
}

input:last-of-type {
	margin-bottom: 1.5rem;
}

.auth-page form button {
	margin: 0.8rem 0;
}

/* -------------------------------------------------------------------------- */
/* nav bar */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 3rem;
}

#user-section {
	display: flex;
	gap: 0.6rem;
	justify-content: center;
	align-items: center;
}

#profileImage {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
	transition: transform 0.2s ease;
}

#profileImage:hover {
	transform: rotate(6deg);
}

/* -------------------------------------------------------------------------- */
/* projects and tasks */

#project-form {
	display: flex;
	flex-direction: column;
	border-radius: 1rem;
	background-color: #222;
	padding: 2rem;
	margin-bottom: 2rem;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 1rem;
}

.card {
	min-height: 250px;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #222;
	border-radius: 1rem;
	padding: 1.5rem;
	box-sizing: border-box;
	transition: transform 0.2s ease;
}

.card:hover {
	transform: translateY(-5px);
}

#card-actions {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.viewBtn,
.auth-page button {
	background: rgb(139, 148, 50);
}

.editBtn {
	background: #c98820;
}

.deleteBtn {
	background: #bf442c;
}

.backBtn {
	padding: 1rem 1.5rem;
	margin-top: 2rem;
}
